html{
    --off-white: #F0F0F0;
}

.hide{
    display: none;
}

.movies-contianer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie-contianer-profile{
    background-color: var(--off-white);
    border: 1px solid var(--off-white);
    border-radius: 2.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1em;
    width: 20em;

    text-decoration: none;

    transition: 1.5s;
}

.poster{
    margin-top: 2em;
    width: 15em;
}

.movie-descrip{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 75%;
}

.movie-descrip h5{
    margin: 0;
}

.movie-descrip h3{
    margin: 0;
}

.save-btn{
    margin: 1em;
}

.movie-contianer-profile:hover{
    box-shadow: 0 0 50px rgba(80, 80, 80, 0.657);
    transform: translateY(-0.25em);
}

/*
    boards
*/
.boards-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.boards-header div{
    margin: .25em;
}

.board-contianer-profile{
    background-color: rgb(135, 135, 212);
    margin: 1.5em;
    width: 20vw;
}

.boards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}