.movie-show-pg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-container-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    border-radius: 2.5em;

    width: 65vw;
}

.movie-container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 65vw;
}

.div-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1em;
}

.movie-desrip-show{
    width: 30vw;
    margin: 1em;
}

.allgenres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.genre{
    background-color: orange;
    color: black;
    border: orange solid 1px;
    border-radius: .5em;
    font-weight: bold;

    margin: 2em;
    padding: 1em;
}

.streamContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.streamContainerParent{
    margin: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.streamLogo img{
    width: 3em;
    border: .1px solid #F0F0F0;
    border-radius: 50%;
}

.save-btn-container{
    background-image: url('https://res.cloudinary.com/dr0ofxgkz/image/upload/v1640659135/cinema-save/logo/Movie_Rater_vq22gf.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: 4em;
    height: 4em;
}

.save-btn{
    margin: 1em;
    width: 5em;
    height: 3em;
    background-color: transparent;
    border: none;
}